<h2>Sign into Shyp</h2>
<form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form>

<h3>Or <a href="/register">sign up</a></h3>
<%- req.flash('message') %>
