<h1>Signup</h1>
<form action="/signup" method="post">

  <label for="email">Name: </label>
  <input name="name" type="text"/>
  <br/>

  <label for="email">Email: </label>
  <input name="email" type="text"/>
  <br/>

  <label for="role">Role: </label>
  <select name="role">
    <option value="customer">Customer</option>
    <option value="driver">Driver</option>
    <option value="tech">Tech</option>
    <option value="admin">Admin</option>
  </select>
  <br/>

  <label for="password">Password:</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
